body {
    background-color: #000;
}

.sidebar {
    position: fixed; /*Posição fixa na página*/
    top: 0; /*Sempre ficar na parte de cima*/
    left: 0; /*Sempre ficar na parte da esquerda*/
    bottom: 0; /*Sempre ficar na parte de baixo*/
    padding: 12px; /*Em todos os eixos, terá essa espaçamento*/
    width: 300px; /*Largura do sidebar*/
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex; /*Vão entrar em detalhe mais para frente*/
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}